@import url('[https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap](https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap)');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:#fff;
}

/* Navbar */
.navbar{
position:fixed;
top:0;
left:0;
width:100%;
padding:20px 10%;
display:flex;
justify-content:space-between;
align-items:center;
/* background:#020617; */
z-index:100;
}
.navbar .logo{
    font-size: 30px;
    color: #7cf03d;
    font-weight: 700;
}


.navbar.logo span{
color:white;
}

.navbar ul{
display:flex;
}

.navbar ul li{
list-style:none;
margin-left:35px;
}

.navbar ul li a{
font-size: 20px;
font-weight: 500;
transition: .5s;
}

.navbar ul li :hover a,
.navbar ul li.active a{
color:#7cf03d;
}

/* Home Section */
.home{
height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 10%;
}

/* Text */
.home-info h1{
font-size:48px;
font-weight:700;
}

.home-info h2{
font-size:28px;
margin:10px 0;
}

#changing-text{
color:#38bdf8;
border-right:2px solid #38bdf8;
padding-right:5px;
}

.home-info p{
max-width:500px;
margin:20px 0;
line-height:1.6;
}

/* Button + Social */
.btn-sci{
display:flex;
align-items:center;
gap:20px;
}

.btn{
padding:10px 25px;
background:#38bdf8;
color:#000;
text-decoration:none;
border-radius:25px;
font-weight:600;
transition:.3s;
}

.btn:hover

.sci a{
display:inline-flex;
padding:8px;
border:2px solid #38bdf8;
border-radius:50%;
color:#38bdf8;
margin-right:10px;
transition:.3s;
}

.sci a:hover

/* Image */
.home-img{
display:flex;
justify-content:center;
align-items:center;
}

.img-box{
width:300px;
height:300px;
border-radius:50%;
border:5px solid #38bdf8;
overflow:hidden;
}

.img-box img{
width:100%;
height:100%;
object-fit:cover;
}

/* Responsive */
@media(max-width:900px){
.home{
flex-direction:column;
text-align:center;
gap:40px;
}
}
